body{
    background-color: #2C3333;
    color: #E7F6F2;
}

.button {
  border: 20px solid #2C3333;
  width: 150px;
  height: 150px;
  text-align: center;
  display: inline-block;
  margin: 10px 20px;
  font-size: 50px;
}

.lines {
    font-size: 16px;
}

.score{
    font-size: 50px;
}

.tictac{

}

.reset{
    color: #395B64;
    width: 150px;
    height: 50px;
    margin: 35px 0px 0px 300px;
}

.center{
    text-align: center;
}