body{
    background-color: black;
}

.button {
  border: 20px solid black;
  width: 150px;
  height: 150px;
  text-align: center;
  display: inline-block;
  margin: 10px 20px;
  font-size: 50px;
}

.lines {
    font-size: 16px;
}

.white{
    background-color: red;
}

.score{
    font-size: 50px;
}

.tictac{

}

.center{
    text-align: center;
}