<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/master/styles.css">
  </head>
  <body>

  <div>
      <form></form>
  </div>

  <div class="container tictac">

      <div class="row">
          <div class="col"></div>
          <div class="col center score">
              Scores
              <div class="row">
                  <div class="col col-md-3 center">PlayerX  {{ x }}</div>
                  <div class="col"></div>
                  <div class="col col-md-3 center">PlayerY  {{ y }}</div>
              </div>
          </div>
          <div class="col"></div>
      </div>

  </div>


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">

            <div class="row">
                <div class="col col-md-4 col-sm-4 col-xs-4">
                    <form action="{{url_for('tic_tac') }}" method="post">
                        <button class="button" name="b1" type="submit" value='0 0'>{{ lobby[0][0] }}</button>
                        <button class="button" name="b1" type="submit" value="1 0">{{ lobby[1][0] }}</button>
                        <button class="button" name="b1" type="submit" value="2 0">{{ lobby[2][0] }}</button>
                    </form>
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-4">
                    <form action="{{url_for('tic_tac') }}" method="post">
                        <button class="button" name="b1" type="submit" value='0 1'>{{ lobby[0][1] }}</button>
                        <button class="button" name="b1" type="submit" value="1 1">{{ lobby[1][1] }}</button>
                        <button class="button" name="b1" type="submit" value="2 1">{{ lobby[2][1] }}</button>
                    </form>
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-4">
                    <form action="{{url_for('tic_tac') }}" method="post">
                        <button class="button" name="b1" type="submit" value='0 2'>{{ lobby[0][2] }}</button>
                        <button class="button" name="b1" type="submit" value="1 2">{{ lobby[1][2] }}</button>
                        <button class="button" name="b1" type="submit" value="2 2">{{ lobby[2][2] }}</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>