<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/master/styles.css">
  </head>
  <body>


  <div class="container tictac">

      <div class="row">
          <div class="col"></div>
          <div class="col center score">
              Scores
              <div class="row">
                  <div class="col col-md-3 center">Player 1</div>
                  <div class="col"></div>
                  <div class="col col-md-3 center">Player 2</div>
              </div>
          </div>
          <div class="col"></div>
      </div>

  </div>


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">

            <div class="row">
                <div class="col col-md-4 col-sm-4 col-xs-4">
                    <button class="button" href="{{ url_for('tic_tac') }}">{{ lobby[0][0] }}</button>
                    <button class="button" href="{{ url_for('tic_tac') }}">{{ lobby[0][1] }}</button>
                    <button class="button" href="{{ url_for('tic_tac') }}">{{ lobby[0][2] }}</button>
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-4">
                    <button class="button"></button>
                    <button class="button"></button>
                    <button class="button"></button>
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-4">
                    <button class="button"></button>
                    <button class="button"></button>
                    <button class="button"></button>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>